<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.keycloakdemo.dao.mapper.ProjectMapper">

    <select id="count" resultType="java.lang.Integer"
            parameterType="com.example.keycloakdemo.form.ProjectListForm">
        select
        count(*)
        from
        tb_project
        <where>
            1 = 1
            <if test="serviceId != null and serviceId != ''">
                and serviceId = #{serviceId}
            </if>
            <if test="keywords != null and keywords != ''">
                and (name like concat('%',#{keywords},'%')
                or createUser like concat('%',#{keywords},'%'))
            </if>
        </where>
    </select>

    <select id="getProjectNameCount" resultType="java.lang.Integer"
            parameterType="com.example.keycloakdemo.form.ProjectAddForm">
        select
        count(*)
        from
        tb_project
        where serviceId = #{serviceId}
        and name = #{name}
    </select>

    <select id="list" resultType="com.example.keycloakdemo.dao.model.Project">
        select
        id,
        name,
        serviceId,
        eid,
        address,
        remark,
        createUser,
        createUserPhone,
        createTime,
        updateTime
        from tb_project
        <where>
            1 = 1
            <if test="serviceId != null and serviceId != ''">
                and serviceId = #{serviceId}
            </if>
            <if test="keywords != null and keywords != ''">
                and (name like concat('%',#{keywords},'%')
                or createUser like concat('%',#{keywords},'%'))
            </if>
        </where>
        order by createTime desc
        <if test="size > 0">
            limit #{start},#{size}
        </if>
    </select>

    <select id="projectManageCount" resultType="java.lang.Integer"
            parameterType="com.example.keycloakdemo.form.ProjectListForm">
        select count(*) from (
        select
        tp.id
        from tb_project tp
        INNER JOIN tb_project_engineer_mapping  tpem ON  tpem.projectId = tp.id
        <where>
            1=1
            <if test="userId != null and  userId > 0">
              and  tpem.engineerId = #{userId}
            </if>
            <if test="serviceId != null and serviceId != ''">
                and tp.serviceId = #{serviceId}
            </if>
            <if test="keywords != null and keywords != ''">
                and (tp.name like concat('%',#{keywords},'%')
                or tp.createUser like concat('%',#{keywords},'%'))
            </if>
        </where>
        GROUP BY  tp.id
        ) as countNumber
    </select>


    <select id="projectManageList" resultType="com.example.keycloakdemo.dao.model.Project">
        select
        tp.id,
        tp.name
        from tb_project tp
        INNER JOIN tb_project_engineer_mapping  tpem ON  tpem.projectId = tp.id
        <where>
            1=1
            <if test="userId != null and  userId > 0">
             and tpem.engineerId = #{userId}
            </if>
            <if test="serviceId != null and serviceId != ''">
                and tp.serviceId = #{serviceId}
            </if>
            <if test="keywords != null and keywords != ''">
                and (tp.name like concat('%',#{keywords},'%')
                or tp.createUser like concat('%',#{keywords},'%'))
            </if>
        </where>
        GROUP BY  tp.id
        order by tp.createTime desc
        <if test="size > 0">
            limit #{start},#{size}
        </if>

    </select>

    <select id="projectBySpaceSetId" resultType="com.example.keycloakdemo.dao.model.Project">
        select
        tp.id,
        tp.name,
        tp.serviceId,
        tp.eid,
        tp.address,
        tp.remark,
        tp.createUser,
        tp.createUserPhone,
        tp.createTime,
        tp.updateTime
        from tb_project tp
        LEFT JOiN tb_spaceset_location_summary ts on ts.projectId = tp.id
        where ts.spaceSetId = #{spaceSetId}

    </select>

    <select id="detail" resultType="com.example.keycloakdemo.dao.model.Project">
        select
        id,
        name,
        serviceId,
        eid,
        address,
        remark,
        createUser,
        createUserPhone,
        createTime,
        updateTime
        from tb_project
        where id =#{id}
    </select>

    <insert id="add" keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.example.keycloakdemo.dao.model.Project">
        insert into tb_project(
        name,
        serviceId,
        eid,
        address,
        remark,
        createUser,
        createUserPhone,
        createTime,
        updateTime
        ) values (
        #{name},
        #{serviceId},
        #{eid},
        #{address},
        #{remark},
        #{createUser},
        #{createUserPhone},
        now(),
        now()
        )
    </insert>

    <update id="update">
        update
        tb_project
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            updateTime = now()
        </set>
        Where id = #{id}
    </update>

    <delete id="delete">
        delete from tb_project where
        <if test="id != null and id > 0">
            id = #{id}
        </if>
    </delete>
</mapper>
