<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clock.dao.mapper.BatchUpdateJobInfoDao">
  <resultMap id="BaseResultMap" type="com.example.clock.dao.model.BatchUpdateJobInfoDto">
    <id column="job_id" jdbcType="TINYINT" property="jobId" />
    <result column="update_type" jdbcType="TINYINT" property="updateType" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="approver" jdbcType="VARCHAR" property="approver" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="upd_cust_no" jdbcType="TINYINT" property="updCustNo" />
    <result column="upd_fail_cust_no" jdbcType="TINYINT" property="updFailCustNo" />
    <result column="origin_file_path" jdbcType="VARCHAR" property="originFilePath" />
    <result column="result_file_path" jdbcType="VARCHAR" property="resultFilePath" />
    <result column="job_status" jdbcType="TINYINT" property="jobStatus" />
    <result column="abort_reason" jdbcType="VARCHAR" property="abortReason" />
    <result column="rstatus" jdbcType="TINYINT" property="rstatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    job_id, update_type, operator, approver, operate_time, approve_time,
    upd_cust_no,upd_fail_cust_no, origin_file_path, result_file_path, job_status, abort_reason ,rstatus ,create_time ,modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_xboss_batch_update_job_info
    where job_id = #{jobId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_xboss_batch_update_job_info
    where job_id = #{jobId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.example.clock.dao.model.BatchUpdateJobInfoDto" useGeneratedKeys="true">
    insert into t_xboss_batch_update_job_info (
        update_type, operator, approver, operate_time, approve_time,
        upd_cust_no, origin_file_path, result_file_path, job_status, abort_reason ,rstatus ,create_time ,modify_time)
    values (#{updateType,jdbcType=TINYINT}, #{operator,jdbcType=VARCHAR},
      #{approver,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, #{approveTime,jdbcType=TIMESTAMP},
      #{updCustNo,jdbcType=TINYINT}, #{originFilePath,jdbcType=VARCHAR}, #{resultFilePath,jdbcType=VARCHAR},
      #{jobStatus,jdbcType=TINYINT},#{abortReason,jdbcType=TINYINT},#{rstatus,jdbcType=TINYINT},
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertAndGetJobID" useGeneratedKeys="true" keyProperty="jobId" parameterType="com.example.clock.dao.model.BatchUpdateJobInfoDto">
    insert into t_xboss_batch_update_job_info (
      update_type, operator, approver, operate_time, approve_time,
      upd_cust_no,upd_fail_cust_no, origin_file_path, result_file_path, job_status, abort_reason ,rstatus ,create_time ,modify_time)
    values (#{updateType,jdbcType=TINYINT}, #{operator,jdbcType=VARCHAR},
            #{approver,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, #{approveTime,jdbcType=TIMESTAMP},
            #{updCustNo,jdbcType=TINYINT}, #{updFailCustNo,jdbcType=TINYINT},#{originFilePath,jdbcType=VARCHAR},
            #{resultFilePath,jdbcType=VARCHAR}, #{jobStatus,jdbcType=TINYINT},#{abortReason,jdbcType=TINYINT},
            #{rstatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.clock.dao.model.BatchUpdateJobInfoDto">
    update t_xboss_batch_update_job_info
    <set>
      <if test="updCustNo != null">
        upd_cust_no = #{updCustNo,jdbcType=TINYINT},
      </if>
      <if test="updFailCustNo != null">
        upd_fail_cust_no = #{updFailCustNo,jdbcType=TINYINT},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultFilePath != null">
        result_file_path = #{resultFilePath,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null">
        job_status = #{jobStatus,jdbcType=TINYINT},
      </if>
      <if test="abortReason != null">
        abort_reason = #{abortReason,jdbcType=TINYINT},
      </if>
      <if test="rstatus != null">
        rstatus = #{rstatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.clock.dao.model.BatchUpdateJobInfoDto">
    update
        t_xboss_batch_update_job_info
    set
        <if test="updCustNo != null and bankruptcyNo > 0">
          upd_cust_no = #{updCustNo,jdbcType=VARCHAR},
        </if>
      Fname = #{name,jdbcType=VARCHAR},
      Fbankruptcy_date = #{bankruptcyDate,jdbcType=VARCHAR},
      Freference_no = #{referenceNo,jdbcType=VARCHAR},
      Fresponsible_officer = #{responsibleOfficer,jdbcType=VARCHAR},
      Fmobile = #{mobile,jdbcType=VARCHAR},
      Fstatus = #{status,jdbcType=TINYINT},
      Fsign = #{sign,jdbcType=VARCHAR},
      Fcreate_time = #{createTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where Fcard_no = #{cardNo,jdbcType=VARCHAR}
  </update>
  <select id="findList" parameterType="com.example.clock.dao.model.BatchUpdateJobInfoDto" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_xboss_batch_update_job_info
    <where>
        1=1
      <if test="rstatus !=null">
        and rstatus = #{rstatus}
      </if>
      <if test="jobStatus !=null">
        and job_status = #{jobStatus}
      </if>
      <if test="updateType !=null">
        and update_type = #{updateType}
      </if>
      <if test="createTime !=null">
        <![CDATA[
            AND create_time >= #{createTime}
        ]]>
      </if>
      <if test="beginTime !=null and endTime != null">
        <![CDATA[
            AND modify_time >= #{beginTime} and modify_time <= #{endTime}
        ]]>
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>
