<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clock.dao.mapper.CustomerMapper">

    <sql id="baseColumn">
        Fgid as gid,
        Fuid as uid,
        Fhist_seq as histSeq,
        Fgsm_code as gsmCode,
        Fmobile as mobile,
        Femail as email,
        Fparty_num as partyNum,
        Fcust_no as custNo,
        Fname as name,
        Fen_name as enName,
        Fsex as sex,
        Fbirthday as birthday,
        Fcus_status as cusStatus,
        Fopen_time as openTime,
        Fclose_time as closeTime,
        Fstatus as status,
        Fsign as sign,
        Fcreate_time as createTime,
        Fmodify_time as modifyTime
    </sql>

    <insert id="add" keyColumn="Fgid" parameterType="com.example.clock.dao.model.CustomerInfo">
        insert into t_customer_info (Fgid, Fuid, Fhist_seq,Fgsm_code,Fmobile,Femail, Fparty_num, Fcust_no, Fname,  Fsex,
                                     Fbirthday, Fcus_status,Fopen_time, Fclose_time, Fstatus, Fsign, Fcreate_time, Fmodify_time
                                     )
        values (#{gid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{histSeq},#{gsmCode,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{partyNum,jdbcType=VARCHAR},
                #{custNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{sex,jdbcType=TINYINT}, #{birthday,jdbcType=DATE},  #{cusStatus},#{openTime,jdbcType=TIMESTAMP},
                #{closeTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{sign,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update">
        update
            t_customer_info
        set
        <if test="mobile != null and mobile != ''">
            Fmobile = #{mobile},
        </if>

        <if test="email != null and email != ''">
            Femail = #{email},
        </if>

        <if test="custNo != null">
            Fcust_no = #{custNo},
        </if>

        <if test="name != null">
            Fname = #{name},
        </if>

        <if test="status != null">
            Fstatus = #{status},
        </if>

        <if test="sign != null">
            Fsign = #{sign},
        </if>

        <if test="cusStatus != null">
            Fcus_status = #{cusStatus},
        </if>

        <if test="closeTime != null">
            Fclose_time = #{closeTime},
        </if>
        updateTime = now()
        where
        Fgid = #{gid}

    </update>

    <select id="queryList" resultType="com.example.clock.dao.model.CustomerInfo"
            parameterType="com.example.clock.form.CustomerInfoFrom">
        select
            <include refid="baseColumn"/>
        from
            t_customer_info tl
        <where>

            <if test="customerInfoFrom.gid != null and customerInfoFrom.gid !='' ">
                tl.Fgid = #{customerInfoFrom.gid}
            </if>
            <if test="customerInfoFrom.uid != null and customerInfoFrom.uid !='' ">
                and tl.Fuid = #{customerInfoFrom.uid}
            </if>
            <if test="customerInfoFrom.mobile != null  ">
                and tl.Fmobile = #{customerInfoFrom.mobile}
            </if>
            <if test="customerInfoFrom.email != null  ">
                and tl.Femail = #{customerInfoFrom.email}
            </if>
            <if test="customerInfoFrom.name != null  ">
                and tl.Fname = #{customerInfoFrom.name}
            </if>
        </where>
        order by createTime desc
        <if test="customerInfoFrom.size > 0">
            limit #{customerInfoFrom.start},#{customerInfoFrom.size}
        </if>
    </select>

    <select id="query" resultType="com.example.clock.dao.model.CustomerInfo">
        select
            <include refid="baseColumn"/>
        from
            t_customer_info
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="gid != null and gid != ''">
                and Fgid = #{gid}
            </if>
            <if test="gid != null and gid != ''">
                and Fgid = #{gid}
            </if>
            <if test="gid != null and gid != ''">
                Fgid = #{gid}
            </if>
            <if test="gid != null and gid != ''">
                Fgid = #{gid}
            </if>
            <if test="gid != null and gid != ''">
                Fgid = #{gid}
            </if>
        </trim>
    </select>

</mapper>
