<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.keycloakdemo.dao.mapper.CustomerMapper">

    <sql id="baseColumn">
        Fgid as gid,
        Fuid as uid,
        Fhist_seq as histSeq,
        Fgsm_code as gsmCode,
        Fmobile as mobile,
        Femail as email,
        Fcust_no as custNo,
        Fname as name,
        Fen_name as enName,
        Fsex as sex,
        Fcus_status as cusStatus,
        Fopen_time as openTime,
        Fclose_time as closeTime,
        Fspecial as special,
        Fstatus as status,
        Fsign as sign,
        Fcreate_time as createTime,
        Fmodify_time as modifyTime,
        Fremarks as remarks
    </sql>

    <insert id="add" keyColumn="Fgid" keyProperty="gid" useGeneratedKeys="true"
            parameterType="com.example.keycloakdemo.dao.model.CustomerInfo">
        insert into t_customer_info(Fgid,
                                Fuid,
                                Fhist_seq,
                                Fgsm_code,
                                Fmobile,
                                Femail,
                                Fcust_no,
                                Fname,
                                Fen_name,
                                Fsex,
                                Fcus_status,
                                Fopen_time,
                                Fclose_time,
                                Fspecial,
                                Fstatus,
                                Fsign,
                                Fcreate_time,
                                Fmodify_time,
                                Fremarks)
        values (#{gid},
                #{uid},
                #{histSeq},
                #{gsmCode},
                #{mobile},
                #{email},
                #{custNo},
                #{name},
                #{enName},
                #{sex},
                #{cusStatus},
                now(),
                now(),
                #{special},
                #{status},
                #{sign},
                now(),
                now(),
                #{remarks})
    </insert>

    <update id="update">
        update
            t_customer_info
        set
        <if test="mobile != null and mobile != ''">
            Fmobile = #{mobile},
        </if>

        <if test="email != null and email != ''">
            Femail = #{email},
        </if>

        <if test="custNo != null">
            Fcust_no = #{custNo},
        </if>

        <if test="name != null">
            Fname = #{name},
        </if>

        <if test="remarks != null and remarks != ''">
            Fremarks = #{remarks},
        </if>

        <if test="status != null">
            Fstatus = #{status},
        </if>

        <if test="sign != null">
            Fsign = #{sign},
        </if>

        <if test="cusStatus != null">
            Fcus_status = #{cusStatus},
        </if>

        <if test="closeTime != null">
            Fclose_time = #{closeTime},
        </if>
        updateTime = now()
        where
        Fgid = #{gid}

    </update>

    <select id="bindCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        tb_location
        <where>
            1 = 1
            <if test="projectId != null  and projectId >0 ">
                and projectId = #{projectId}
            </if>
            <if test="spaceSetId != null  and spaceSetId >0 ">
                and spaceSetId = #{spaceSetId}
            </if>
        </where>
    </select>

    <select id="syncCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        tb_location
        <where>
            1 = 1
            <if test="projectId != null  and projectId >0 ">
                and projectId = #{projectId}
            </if>
            <if test="syncStatus != null  ">
                and syncStatus = #{syncStatus}
            </if>
            <if test="spaceSetId != null  and spaceSetId >0 ">
                and spaceSetId = #{spaceSetId}
            </if>
        </where>
    </select>

    <select id="deviceListCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        tb_location
        <where>
            projectId = #{projectId}
            <if test="parentIds != null">
                and nodeId in
                <!-- for循环, item:循环后的值, index:循环下标列式for循环的 i ,collection:参数名-->
                <!-- open="(" close=")" separator="," 就是把循环的值组成 (item1,item2,item3)的格式-->
                <foreach item="item" index="index" collection="parentIds" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="category != null">
                and categoryCode in
                <!-- for循环, item:循环后的值, index:循环下标列式for循环的 i ,collection:参数名-->
                <!-- open="(" close=")" separator="," 就是把循环的值组成 (item1,item2,item3)的格式-->
                <foreach item="item" index="index" collection="category" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

            <if test="product != null and product !='' ">
                and productKey = #{product}
            </if>
            <if test="keywords != null and keywords != ''">
                and ( deviceId like concat('%',#{keywords},'%')
                or mac like concat('%',#{keywords},'%')
                or alias like concat('%',#{keywords},'%'))
            </if>
            <if test="syncStatus != null  ">
                and syncStatus = #{syncStatus}
            </if>
            <if test="registerStatus != null  ">
                and registerStatus = #{registerStatus}
            </if>
        </where>
    </select>

    <select id="queryList" resultType="com.example.keycloakdemo.dao.model.CustomerInfo"
            parameterType="com.example.keycloakdemo.form.CustomerInfoFrom">
        select
            <include refid="baseColumn"/>
        from
            t_customer_info tl
        <where>

            <if test="gid != null and gid !='' ">
                tl.Fgid = #{gid}
            </if>
            <if test="uid != null and uid !='' ">
                and tl.Fuid = #{uid}
            </if>
            <if test="mobile != null  ">
                and tl.Fmobile = #{mobile}
            </if>
            <if test="email != null  ">
                and tl.Femail = #{email}
            </if>
            <if test="name != null  ">
                and tl.Fname = #{name}
            </if>
        </where>
        order by createTime desc
        <if test="size > 0">
            limit #{start},#{size}
        </if>
    </select>
    <select id="projectNodeListCount" resultType="java.lang.Integer">
        select
        count(*)
        from(
        select
        trn.id
        from tb_space_node_info trn
        left join tb_spaceset_location_summary tsls on tsls.spaceSetId = trn.spaceSetId
        <where>
            tsls.projectId = #{projectId}
            and trn.isLast = 0
            <if test="keywords != null and keywords != ''">
                and trn.locationName like concat('%',#{keywords},'%')
            </if>
            <if test="parentIds != null">
                and trn.id in
                <!-- for循环, item:循环后的值, index:循环下标列式for循环的 i ,collection:参数名-->
                <!-- open="(" close=")" separator="," 就是把循环的值组成 (item1,item2,item3)的格式-->
                <foreach item="item" index="index" collection="parentIds" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY trn.id
        ) as countNumber
    </select>

    <select id="projectNodeList" resultType="com.example.keycloakdemo.vo.SpaceNodeVO">
        select
        trn.id AS nodeId ,
        trn.eid AS eid ,
        trn.isLast AS isLast,
        trn.level AS level,
        trn.locationName AS name,
        trn.parentId AS parentId,
        tsls.spaceSetId AS spaceSetId
        from tb_space_node_info trn
        left join tb_spaceset_location_summary tsls on tsls.spaceSetId = trn.spaceSetId
        <where>
            tsls.projectId = #{projectId}
            and trn.isLast = 0
            <if test="keywords != null and keywords != ''">
                and trn.locationName like concat('%',#{keywords},'%')
            </if>
            <if test="parentIds != null">
                and trn.id in
                <!-- for循环, item:循环后的值, index:循环下标列式for循环的 i ,collection:参数名-->
                <!-- open="(" close=")" separator="," 就是把循环的值组成 (item1,item2,item3)的格式-->
                <foreach item="item" index="index" collection="parentIds" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>
        GROUP BY trn.id
        ORDER BY trn.id ASC
        <if test="size > 0">
            limit #{start},#{size}
        </if>
    </select>


    <select id="detail" resultType="com.example.keycloakdemo.dao.model.Location">
        select
        <include refid="baseColumn"/>
        from
        tb_location tl
        where
        tl.id = #{deviceInfoId}
    </select>

    <select id="getLocationById" resultType="com.example.keycloakdemo.dao.model.Location">
        select
        <include refid="baseColumn"/>
        from
        tb_location tl
        where
        tl.id = #{id}
    </select>

    <select id="locationByMac" resultType="com.example.keycloakdemo.dao.model.Location">
        select
        <include refid="baseColumn"/>
        from
        tb_location tl
        where
        tl.mac = UPPER(#{mac})
    </select>

    <select id="locationListByMac" resultType="com.example.keycloakdemo.dao.model.Location">
        select
        <include refid="baseColumn"/>
        from
        tb_location tl
        where
        1=1
        <if test="mac != null">
            and tl.mac in
            <!-- for循环, item:循环后的值, index:循环下标列式for循环的 i ,collection:参数名-->
            <!-- open="(" close=")" separator="," 就是把循环的值组成 (item1,item2,item3)的格式-->
            <foreach item="item" index="index" collection="mac" open="(" close=")" separator=",">
                UPPER(#{item})
            </foreach>
        </if>
    </select>


    <select id="locationByNodeId" resultType="com.example.keycloakdemo.dao.model.Location">
        select
        <include refid="baseColumn"/>
        from
        tb_location tl
        where
        nodeId = #{nodeId}
    </select>

    <select id="locationByNodeIdAndProjectId" resultType="com.example.keycloakdemo.dao.model.Location">
        select
        <include refid="baseColumn"/>
        from
        tb_location tl
        where
        projectId = #{projectId}
        and nodeId = #{nodeId}
        <if test="productKey != null">
            and tl.productKey in
            <foreach item="item" index="index" collection="productKey" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="category != null">
            and tl.categoryCode in
            <foreach item="item" index="index" collection="category" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="locationBySpaceSetId" resultType="com.example.keycloakdemo.dao.model.Location">
        SELECT
        <include refid="baseColumn"/>
        from
        tb_space_node_info tbrni
        RIGHT JOIN
        tb_location tl on tbrni.id = tl.nodeId
        WHERE
        tl.spaceSetId = #{spaceSetId}
        and
        tbrni.isLast = 0
    </select>

    <select id="LocationListByIds" resultType="com.example.keycloakdemo.dao.model.Location">
        select
        <include refid="baseColumn"/>
        from
        tb_location tl
        <where>
            1=1
            <if test="deviceInfoIds != null">
                and tl.id in
                <!-- for循环, item:循环后的值, index:循环下标列式for循环的 i ,collection:参数名-->
                <!-- open="(" close=")" separator="," 就是把循环的值组成 (item1,item2,item3)的格式-->
                <foreach item="item" index="index" collection="deviceInfoIds" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <select id="deviceManageListCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        (
        select
        trn.id AS nodeId ,
        trn.eid AS eid ,
        trn.isLast AS isLast,
        trn.level AS level,
        trn.locationName AS name,
        trn.parentId AS parentId,
        tsl.spaceSetId AS spaceSetId
        from
        tb_space_node_info trn
        left join
        tb_spaceset_location_summary tsl
        on
        tsl.spaceSetId = trn.spaceSetId
        where
        1=1
        and
        trn.isLast = 0
        <if test="projectId != null">
            and tsl.projectId = #{projectId}
        </if>
        <if test="spaceSetId != null">
            and trn.spaceSetId in
            <foreach item="item" index="index" collection="spaceSetId" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="nodeId != null">
            and trn.id in
            <foreach item="item" index="index" collection="nodeId" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="keywords != null and keywords != ''">
            and trn.locationName like concat('%',#{keywords},'%')
        </if>
        GROUP BY trn.id
        ) as countNumber

    </select>

    <select id="deviceManageList" resultType="com.example.keycloakdemo.vo.NodeInfoDeviceVO">
        select
        trn.id AS nodeId ,
        trn.locationName AS nodeName
        from
        tb_space_node_info trn
        left join
        tb_spaceset_location_summary tsl
        on
        tsl.spaceSetId = trn.spaceSetId
        where
        1=1
        and
        trn.isLast = 0
        <if test="appDeviceListForm.projectId != null">
            and tsl.projectId = #{appDeviceListForm.projectId}
        </if>
        <if test="appDeviceListForm.spaceSetId != null">
            and trn.spaceSetId in
            <foreach item="item" index="index" collection="appDeviceListForm.spaceSetId" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>
        <if test="appDeviceListForm.nodeId != null">
            and trn.id in
            <foreach item="item" index="index" collection="appDeviceListForm.nodeId" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="appDeviceListForm.keywords != null and appDeviceListForm.keywords != ''">
            and trn.locationName like concat('%',#{appDeviceListForm.keywords},'%')
        </if>
        GROUP BY trn.id
        order by trn.id ASC
        <if test="size > 0">
            limit #{start},#{size}
        </if>
    </select>

    <select id="deviceManageInnerListCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        (
        select
        trn.id AS nodeId ,
        trn.eid AS eid ,
        trn.isLast AS isLast,
        trn.level AS level,
        trn.locationName AS name,
        trn.parentId AS parentId,
        tl.spaceSetId AS spaceSetId
        from
        tb_space_node_info trn
        inner join
        tb_location tl ON tl.nodeId = trn.id and tl.spaceSetId=trn.spaceSetId
        where
        1=1
        and
        trn.isLast = 0
        <if test="projectId != null">
            and tl.projectId = #{projectId}
        </if>
        <if test="spaceSetId != null">
            and tl.spaceSetId in
            <foreach item="item" index="index" collection="spaceSetId" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="nodeId != null">
            and tl.nodeId in
            <foreach item="item" index="index" collection="nodeId" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="productKey != null">
            and tl.productKey in
            <foreach item="item" index="index" collection="productKey" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="category != null">
            and tl.categoryCode in
            <foreach item="item" index="index" collection="category" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="keywords != null and keywords != ''">
            and trn.locationName like concat('%',#{keywords},'%')
        </if>
        GROUP BY trn.id
        ) as countNumber

    </select>
    <!--内连接条件查询-->
    <select id="deviceManageInnerList" resultType="com.example.keycloakdemo.vo.NodeInfoDeviceVO">
        select
        trn.id AS nodeId ,
        trn.locationName AS nodeName
        from
        tb_space_node_info trn
        inner join
        tb_location tl ON tl.nodeId = trn.id and tl.spaceSetId=trn.spaceSetId
        where
        1=1
        and
        trn.isLast = 0
        <if test="appDeviceListForm.projectId != null">
            and tl.projectId = #{appDeviceListForm.projectId}
        </if>
        <if test="appDeviceListForm.spaceSetId != null">
            and tl.spaceSetId in
            <foreach item="item" index="index" collection="appDeviceListForm.spaceSetId" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>
        <if test="appDeviceListForm.nodeId != null">
            and nodeId in
            <foreach item="item" index="index" collection="appDeviceListForm.nodeId" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="appDeviceListForm.productKey != null">
            and tl.productKey in
            <foreach item="item" index="index" collection="appDeviceListForm.productKey" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>
        <if test="appDeviceListForm.category != null">
            and tl.categoryCode in
            <foreach item="item" index="index" collection="appDeviceListForm.category" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="appDeviceListForm.keywords != null and appDeviceListForm.keywords != ''">
            and trn.locationName like concat('%',#{appDeviceListForm.keywords},'%')
        </if>
        GROUP BY trn.id
        order by trn.id ASC
        <if test="size > 0">
            limit #{start},#{size}
        </if>

    </select>


    <select id="countBySpaceSetAndCategory" resultType="java.lang.Integer">
        select
        count(*)
        from
        tb_location
        where
        1=1
        and
        spaceSetId = #{spaceSetId}
        and
        projectId = #{projectId}

        and syncStatus = 0

        <if test="correspond != null and correspond != ''">
            and correspond != #{correspond}
        </if>

        <if test="categoryList != null and categoryList.size() != 0">
            and categoryCode in
            <foreach item="item" index="index" collection="categoryList" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="nodeIdList != null and nodeIdList.size() != 0">
            and nodeId in
            <foreach item="item" index="index" collection="nodeIdList" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

    </select>

    <select id="deviceListBySpaceSetAndCategory" resultType="com.example.keycloakdemo.vo.DeviceVO">
        select
        id,
        name as nodeName,
        alias as deviceName,
        nodeId,
        categoryCode as category,
        productKey,
        registerStatus,
        mac,
        syncStatus
        from
        tb_location
        where
        1=1
        <if test="deviceListForm.spaceSetId != null">
            and spaceSetId = #{deviceListForm.spaceSetId}
        </if>

        <if test="deviceListForm.projectId != null">
            and projectId = #{deviceListForm.projectId}
        </if>

        <if test="deviceListForm.correspond != null and deviceListForm.correspond != ''">
            and correspond != #{deviceListForm.correspond}
        </if>

        and syncStatus = 0

        <if test="deviceListForm.categoryList != null and deviceListForm.categoryList.size() != 0">
            and categoryCode in
            <foreach item="item" index="index" collection="deviceListForm.categoryList" open="(" close=")"
                     separator=",">
                #{item}
            </foreach>
        </if>

        <if test="deviceListForm.nodeIdList != null and deviceListForm.nodeIdList.size() != 0">
            and nodeId in
            <foreach item="item" index="index" collection="deviceListForm.nodeIdList" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

        <if test="size > 0">
            limit #{start},#{size}
        </if>
    </select>

    <delete id="deleteByIds">
        delete from tb_location
        <where>
            1=1
            <if test="deviceInfoIds != null">
                and id in
                <!-- for循环, item:循环后的值, index:循环下标列式for循环的 i ,collection:参数名-->
                <!-- open="(" close=")" separator="," 就是把循环的值组成 (item1,item2,item3)的格式-->
                <foreach item="item" index="index" collection="deviceInfoIds" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>
