<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.keycloakdemo.dao.mapper.SpaceSetLocationSummaryMapper">

    <select id="hasBindCount" resultType="java.lang.Integer">
        select
        sum(planQuantity)
        from
        tb_spaceSet_location_summary
        <where>
            1=1
            <if test="projectId != null and projectId >0  ">
                AND projectId = #{projectId}
            </if>
            <if test="spaceSetId != null and spaceSetId >0  ">
                and spaceSetId = #{spaceSetId}
            </if>
        </where>
    </select>

    <select id="nodeCount" resultType="java.lang.Integer">
        select count(*) from (
        select
        trni.id
        from
        tb_space_node_info trni
        left join tb_spaceSet_location_summary tsls on trni.spaceSetId = tsls.spaceSetId
        <where>
            isLast = 0
            <if test="projectId != null and projectId >0  ">
                AND tsls.projectId = #{projectId}
            </if>
            <if test="spaceSetId != null and spaceSetId >0  ">
                and tsls.spaceSetId = #{spaceSetId}
            </if>
        </where>
        GROUP BY trni.id
        ) as nodeCount
    </select>

    <insert id="add" keyColumn="id" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.example.keycloakdemo.dao.model.SpaceSetLocationSummary">
        insert into tb_spaceSet_location_summary(
        projectId,
        spaceSetId,
        categoryCode,
        categoryName,
        productKey,
        productName,
        correspond,
        planQuantity,
        createTime,
        updateTime
        ) values (
        #{projectId},
        #{spaceSetId},
        #{categoryCode},
        #{categoryName},
        #{productKey},
        #{productName},
        #{correspond},
        #{planQuantity},
        now(),
        now()
        )
    </insert>

    <delete id="deleteByProjectId">
        delete from tb_spaceSet_location_summary where
        <if test="projectId != null and projectId > 0">
            projectId = #{projectId}
        </if>
    </delete>

    <select id="listDeviceTotal" resultType="com.example.keycloakdemo.vo.DeviceTotalVO">
        select
        ts.spaceSetId AS spaceSetId,
        sum(ts.planQuantity) AS hasBindTotal
        from tb_spaceSet_location_summary ts
        <where>
            ts.projectId = #{projectId}
            <if test="category != null  and category != '' ">
                and ts.categoryCode = #{category}
            </if>
            <if test="product != null and product !='' ">
                and ts.productKey = #{product}
            </if>
        </where>
        GROUP BY ts.spaceSetId
    </select>

    <select id="nodeDetail" resultType="com.example.keycloakdemo.vo.DeviceVO">
        select
        tl.id AS id,
        tl.nodeId AS nodeId,
        tl.categoryCode AS category,
        tl.mac AS mac,
        tl.syncStatus AS syncStatus,
        COUNT(tl.categoryCode) AS count
        from tb_location tl
        <where>
            1=1
            <if test="nodeId != null  and nodeId >0 ">
                and tl.nodeId=#{nodeId}
            </if>
            <if test="projectId != null  and projectId >0 ">
                and tl.projectId=#{projectId}
            </if>
        </where>
        GROUP BY category,syncStatus
    </select>

    <select id="projectSpaceSetList" resultType="com.example.keycloakdemo.vo.ProjectSpaceSetVO">
        select
        tsl.spaceSetId,
        tss.name
        from tb_spaceSet_location_summary tsl
        left join tb_space_set tss on tss.id = tsl.spaceSetId
        where tsl.projectId = #{projectId}
        GROUP BY tsl.spaceSetId
    </select>

    <select id="projectDeviceDetail" resultType="com.example.keycloakdemo.vo.ProjectDeviceDetailVO">
        select
        categoryCode as categoryCode,
        categoryName as categoryName,
        productKey as productKey,
        productName as productName,
        SUM(planQuantity) AS count
        from
        tb_spaceSet_location_summary
        <where>
            1=1
            <if test="spaceSetId != null  and spaceSetId >0 ">
                and spaceSetId = #{spaceSetId}
            </if>
            <if test="projectId != null  and projectId >0 ">
                and projectId = #{projectId}
            </if>
        </where>
        group by categoryCode,productKey
    </select>

    <select id="listBySpaceSetIdAndProductKey" resultType="com.example.keycloakdemo.vo.ProjectDeviceDetailVO"
            parameterType="com.example.keycloakdemo.dao.model.SpaceSetLocationSummary">
        select
        categoryCode,
        categoryName,
        productKey,
        productName
        from
        tb_spaceSet_location_summary
        <where>
            projectId = #{projectId}
            <if test="spaceSetId != null">
                and spaceSetId = #{spaceSetId}
            </if>

            <if test="productKey != null and productKey!=''">
                and productKey = #{productKey}
            </if>
        </where>
    </select>


    <select id="projectCategoryList" resultType="com.example.keycloakdemo.vo.CategoryListVO">
        select
        categoryCode as categoryCode,
        categoryName as categoryName
        from
        tb_spaceSet_location_summary
        where projectId = #{projectId}
        group by categoryCode
    </select>

    <select id="projectProductList" resultType="com.example.keycloakdemo.vo.ProductListVO">
        select
        productKey as productKey,
        productName as productName
        from
        tb_spaceSet_location_summary
        where categoryCode = #{categoryCode}
        and projectId = #{projectId}
        group by productKey
    </select>

</mapper>
